html, body, div, h1, h2, h3, h4, h5, h6, a, ul, li {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

body {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

.header {
    box-sizing: border-box;
    border-bottom: 1px solid #f0f0f0;
}

.header-inner {
    height: 64px;
    width: 960px;
    margin: 0 auto;
}

.logo {
    position: relative;
    float: left;
    display: inline-block;
    box-sizing: border-box;
    width: 150px;
    height: 64px;
    background: url("../images/boblog.png") -16px center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    text-align: center;
}

.navigator-fix {
    width: 100%;
    height: 64px;
    float: right;
    margin-left: -150px;
}

.navigator-box {
    height: 56px;
    padding-left: 150px;
}

.navigator-inner {
    text-align: right;
    height: 64px;
    clear: both;
}

.container {
    box-sizing: border-box;
    width: 960px;
    margin: 0 auto;
}

.self-introduction {
    margin-top: 14px;
    box-sizing: border-box;
}

.self-introduction .name {
    font-size: 32px;
    font-weight: bold;
    color: #404040;
}

.self-introduction .introduction {
    font-size: 18px;
    font-weight: 400;
    color: #404040;
}

.self-introduction .follow {
    display: inline-block;
    padding: 0 24px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    background: #3c81f6;
    border-radius: 4px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 14px;
}

.self-introduction .about {
    display: inline-block;
    padding: 0 24px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    text-align: center;
    color: #404040;
    font-weight: bold;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-decoration: none;
}


.title {
    font-weight: bold;
    font-size: 36px;
    margin: 24px 0;
    text-align: center;
}

.author {
    margin-bottom: 24px;
    color: #9199a1;
    font-size: 13px;
    text-align: center;
}

.content {
    box-sizing: border-box;
    line-height: 2.5;
    font-size: 16px;
}

